body {
    background-image: url(./2021_iStock_LatestBGTrends_Hero.jpg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0px;
}

.توان-هفت {
    font-size: 40px;
    margin-left: 960px;
    margin-top: 95px;
}

.lorem {
    font-size: 18px;
    margin-right: 140px;
    margin-top: -35px;
    direction: rtl
}

.go {
    background-image: url(./WhatsApp\ Image\ 2021-10-26\ at\ 5.55.51\ PM.jpg);
    background-color: white;
    background-position: center;
    background-size: 200px;
    background-repeat: space;
    font-size: 25px;
    margin-top: -400px;
    margin-left: 60px;
    position: absolute;
    width: 240px;
    height: 480px;
}